pip install pyautogui
pip install pywhatkit
pip install pyttsx3
pip install pyaudio
pip install speechRecognition
pip install psutil
pip install pandas
pip install python-dotenv
pip install google.generativeai
pip install distlib